   
    #formulario { 
       background-color: #E0F8F1;
       width: 400px; 
       padding: 20px; 
       margin: 50px auto; 
	   top:20px;
       border-radius: 15px;   
       -moz-border-radius: 15px; 
       -webkit-border-radius: 15px; 
	   font-family: Arial, san-serif;
    }
     
   